<%- include('partials/header.ejs'); -%>

<!--add a hide/show button for the div class, book-note-addition-->
<!--add a delete button to remove the note div-->
<div id="myDiv" class="book-note-addition" style="display: none;">
    <form action="/submit" method="post">
        <div class="note-section">
            <label for="note">Type notes</label>
            <input type="text" name="note">
        </div>
        <div class="book-number-section">
            <label for="">Type book's ISBN</label>
            <input type="text" name="ISBN_input">
        </div>
        <div class="book-rating-section">
            <select name="selectedOption">
                <option>Select a rate number</option>
                <option value="1">1
                <option value="2">2
                <option value="3">3
                <option value="4">4
                <option value="5">5
                <option value="6">6
                <option value="7">7
                <option value="8">8
                <option value="9">9
                <option value="10">10
            </select>
        </div>
        <div class="submit-button">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<%for (let bookNoteList of noteList){%>
    <div class="note-block">
        <div class="img-block">
            <img class="book-image" src="https://covers.openlibrary.org/b/isbn/<%= bookNoteList.isbn %>-M.jpg" />
            <p class="note-text"><%= bookNoteList.book_notes %></p>
            <button id="toggleButton"> Click to add new notes</button>
        </div>
    </div>
    <div class="rating-block">
         <h3 class="rate-number"> My rating is: <%= bookNoteList.book_rating %>/10</h3> 
    </div>
    
<script>
    document.getElementById("toggleButton").onclick = function() {
        let myDiv = document.getElementById("myDiv");
        if (myDiv.style.display === "none") {
            myDiv.style.display = "block";
        } else {
            myDiv.style.display = "none";
        }
    };
</script>
<% }; %>
<%- include('partials/footer.ejs'); -%>