<%- include('partials/header.ejs'); -%>


    <div class="book-note-addition">
    <form action="/submit" method="post">
        <div class="note-section">
            <label for="note">Type notes</label>
            <input type="text" name="note">
        </div>
        <div class="book-number-section">
            <label for="">Type book's ISBN</label>
            <input type="text" name="ISBN_input">
        </div>
        <div class="book-rating-section">
            <label for="">Rate book</label>
            <input type="text" name="rate_number">
        </div>
        <div class="submit-button">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<%for (let bookNoteList of noteList){%>
    <p><%= bookNoteList.book_notes %></p>
    <p><%= bookNoteList.book_rating %></p>

    <img src="https://covers.openlibrary.org/b/isbn/<%= bookNoteList.isbn %>.jpg" />

<% }; %>
<%- include('partials/footer.ejs'); -%>