<%- include('partials/header.ejs'); -%>

<!--add a hide/show button for the div class, book-note-addition-->
<!--add a delete button to remove the note div-->
<button id="toggleButton"> Click to add notes</button>
<div class="note-block">
    <%for (let bookNoteList of noteList){%>
    <div class="img-block">
        <h3 class="rate-number"> My rating is: <%= bookNoteList.book_rating %>/10</h3> 
        <img class="book-image" src="https://covers.openlibrary.org/b/isbn/<%= bookNoteList.isbn %>-M.jpg" />
        <p class="note-text<%=bookNoteList.id%>"><%= bookNoteList.book_notes %></p>
    </div>
    <form action="/delete" method="post">
        <p>checkbox to delete</p>
        <input type="checkbox" onchange="this.form.submit()" name="deleteItemId" value="<%= bookNoteList.id %>">
    </form>
    <!--have updated text placed in database and diplayed on site-->
    <form class="edit" action="/edit" method="post">
        <input type="hidden" name="updatedItemId" value="<%= bookNoteList.id %>">

        <input id="input<%=bookNoteList.id%>" type="text" name="updatedNotes" value="<%= bookNoteList.book_notes %>" autocomplete="off" autofocus="true" hidden="true" />
        
        <button id="done<%=bookNoteList.id%>" class="edit" type="submit" hidden><img class="icon" src="" alt="tick image"></button>

    </form>
    <button id="edit<%=bookNoteList.id%>" class="edit" onclick="handler('<%=bookNoteList.id%>')"><img class="icon"
        src="" alt="pencil image"></button>

    <% }; %>
    <div id="myDiv" class="book-note-addition" style="display: none;">
    <form action="/add" method="post">
        <div class="note-section">
            <label for="note">Type notes</label>
            <input type="text" name="note">
        </div>
        <div class="book-number-section">
            <label for="">Type book's ISBN</label>
            <input type="text" name="ISBN_input">
        </div>
        <div class="book-rating-section">
            <select name="selectedOption">
                <option>Select a rate number</option>
                <option value="1">1
                <option value="2">2
                <option value="3">3
                <option value="4">4
                <option value="5">5
                <option value="6">6
                <option value="7">7
                <option value="8">8
                <option value="9">9
                <option value="10">10
            </select>
        </div>
        <div class="submit-button">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
</div>
<script>
    document.getElementById("toggleButton").onclick = function() {
        let myDiv = document.getElementById("myDiv");
        if (myDiv.style.display === "block") {
            myDiv.style.display = "none";
        } else {
            myDiv.style.display = "block";
        }
    };
     function handler(id) {
      document.getElementById("edit" + id).setAttribute("hidden", true)
      document.getElementById("done" + id).removeAttribute("hidden")
      document.getElementById("input" + id).removeAttribute("hidden")
    }
</script>
<%- include('partials/footer.ejs'); -%>